
{% extends "base_page.html" %} 
{% block content %}
<body>
  <link rel="stylesheet" href="../static/style-2.css" /> -->
  <h2 class="contact"><strong>Contact</strong></h2>
  <h2 class="tel">Tel - <a href="tel:+48730064567">+48 730 064 567</a></h2>
  <h2 class="email">
    Email - <a href="mailto:fesval777@gmail.com">fesval777@gmail.com</a>
  </h2>
  
   
  <h3 class="films"><strong>My favourite films:</strong></h3>
  
  <ul>
    {% for film in films %}
    <li>{{film}}</li>
    {% endfor %}
  </ul>

  
  <h2><form action="send">Send a message</form></h2>
  <textarea name="Send a message" cols="35" rows="7"></textarea>
  <input type="submit" name="submit" />
</body>
{% endblock %}
